<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>rzeng</id>
  <fullName>Raymond (Chunlin) Zeng</fullName>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.36"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>RMC-WINDOWS-DEV-TEAM</string>
        <string>build-iOS@nextlabs.com</string>
        <string>devops@nextlabs.com</string>
        <string>ReportingGroup {bdf681c4-4a43-4809-839e-2fdb996dc739}</string>
        <string>hudson-release</string>
        <string>hudson-pcv</string>
        <string>CDC VMPOWER Manager</string>
        <string>CDC Manager</string>
        <string>CDC SharePoint Designer</string>
        <string>CDC Build Group</string>
        <string>CDC Qatd</string>
        <string>CDC Leader</string>
        <string>CDC Engineering</string>
        <string>Release</string>
        <string>CDC All</string>
        <string>authenticated</string>
      </roles>
      <timestamp>1547520465994</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.63">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.23">
      <emailAddress>Raymond.Zeng@nextlabs.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>